@media screen and (max-width: 1200px) {
    #profile {
        height: 80vh;
        margin-bottom: 6rem;
    }
    .about-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #dekstop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile,
    .section-container {
        display: block;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 1rem;
    }
    .section__pic-container img {
        width: 280px;
        height: 260px;
    }
    .title {
        font-size: 2rem;
    }
    .section__text__p2 {
        font-size: 1.4rem;
    }
    .about-container {
        margin-top: 0;
    }
}
